{% extends "shop/base.html" %}
{% load static %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}
    <div class="bg-white p-8 rounded-md w-full">
        <!-- Product header -->
        <div class="flex justify-start pb-6">
            <div>
                <h2 class="text-gray-600 font-semibold">
                    Products Oder
                </h2>
            </div>
        </div>

        <div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <!-- The table header section -->
                        <thead>
                        <tr>
                            <!-- Image -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Image
                            </th>

                            <!-- Product Name  -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Product Name
                            </th>

                            <!-- Quantity -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                quantity
                            </th>

                            <!-- Remove -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Remove
                            </th>

                            <!-- Unit Price -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Unit Price
                            </th>

                            <!-- Total Price -->
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Total Price
                            </th>
                        </tr>
                        </thead>

                        <!-- This is the table body -->
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <!-- Image of the body -->
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <a href="{{ product.get_absolute_url }}"
                                               class="relative block h-48 w-60 overflow-hidden rounded">
                                                <img class="w-full h-full rounded"
                                                     src="
                                                             {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                                                     alt=""/>
                                            </a>
                                        </div>
                                    </td>

                                    <!-- Product name -->
                                    <td>
                                        <div class="ml-3">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                {{ product.name }}
                                            </p>
                                        </div>
                                    </td>

                                    <!-- Quantity Dropdown menu -->
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        {#                                        <select value="user.role" class="bg-transparent">#}
                                        {#                                            <option value="user">user</option>#}
                                        {#                                            <option value="admin">admin</option>#}
                                        {#                                        </select>#}
                                        {#                                        <p class="text-gray-900 whitespace-no-wrap">{{ item.quantity }}</p>#}
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.override }}
                                            <input type="submit" value="Update">
                                            {% csrf_token %}
                                        </form>
                                    </td>

                                    <!-- Remove button -->
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                            <span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                                <span aria-hidden="false"
                                                      class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                                    <button type="submit" class="relative">
{#                                                        <input type="submit">#}
                                                        Remove
                                                    </button>
                                            </span>
                                            {% csrf_token %}
                                        </form>
                                    </td>

                                    <!-- Unit Price -->
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">${{ item.price }}</p>
                                    </td>

                                    <!-- Total Price -->
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                            <span aria-hidden="false"
                                                  class="absolute inset-0 bg-green-200 opacity-50 rounded-full">
                                            </span>
                                            <span class="relative">${{ item.total_price }}</span>
                                        </span>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}

                        <!-- This is the Total amount section -->
                        <tr>
                            <td class="px-5 py-3 border-b-2 border-gray-500 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Total
                            </td>
                            <td colspan="4"
                                class="px-5 py-3 border-b-2 border-gray-500 bg-gray-100"></td>
                            <td class="px-5 py-5 border-b-2 border-gray-500 bg-gray-100 text-sm">
                                <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                    <span aria-hidden="false"
                                          class="absolute inset-0 bg-green-200 opacity-50 rounded-full">
                                    </span>
                                    <span class="relative">${{ cart.get_total_price }}</span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Checkout and continue shopping button -->
                    <div class="px-5 py-4 flex justify-end pb-6">
                        <div class="lg:ml-40 ml-10 space-x-8">
                            <a href="{% url "shop:product_list" %}">
                                <button class="bg-gray-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
                                    Continue Shopping
                                </button>
                            </a>
                            <a href="{% url "orders:order_create" %}">
                                <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
                                    Checkout
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}