{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" src="{% if product.image %}{{ product.image.url }}{% else %}https://dummyimage.com/400x400{% endif %}"
                     class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"/>
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <a href="{{ product.category.get_absolute_url }}">
                        <h2 class="text-sm title-font text-gray-500 tracking-widest">
                            {{ product.category }}
                        </h2>
                    </a>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
                        {{ product.name }}
                    </h1>

                    <p class="leading-relaxed">
                        {{ product.description|linebreaks }}
                    </p>
                    <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        {#                        <span>Quantity</span>#}
                        <div class="flex ml-6 items-center">
                            {#                            <div class="relative rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">#}
                            <span class="title-font font-medium text-2xl text-gray-900 mr-6">
                          ${{ product.price }}
                      </span>
                            {#                            </div>#}
                        </div>
                    </div>
                    <div class="flex">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            <div class="flex mt-6 items-center pb-5 mb-5">
                                <span>Quantity</span>
                                <div class="flex ml-6 items-center">
                                    <div class="relative rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                                        {{ cart_product_form.quantity }}
                                    </div>
                                    {{ cart_product_form.override }}
                                    {% csrf_token %}
                                    <input class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
                                           type="submit"
                                           value="Add to cart"
                                    >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- This is the whole comment section -->

    <h2>Your comment has been added.</h2>

    <!-- Comment Form -->
    {% if new_comment %}
        <div class="flex mx-auto items-center justify-center shadow-lg mt-56 mx-8 mb-4 max-w-lg">
            <div class="w-full max-w-xl bg-white rounded-lg px-4 pt-2">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
                    <form method="post">
                        <div class="w-full md:w-full px-3 mb-2 mt-2">
                            {{ comment_form.name }}
                            <textarea
                                    class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"
                                    name="body" placeholder='Type Your Comment'
                                    required>{{ comment_form.body.as_p }}</textarea>
                            {% csrf_token %}
                        </div>
                        <div class="w-full md:w-full flex items-start mr-auto md:w-full px-3">
                            <div class="-mr-1">
                                <input type='submit'
                                       class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                                       value='Post Comment'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    {% with comments.count as total_comments %}
                        <h2>
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </h2>
                    {% endwith %}
                    <!-- Comment box -->
                    {% for comment in comments %}
                        <div class="mt-6">
                            <div class="max-w-6xl px-10 py-6 md:container md:mx-auto bg-white rounded-lg shadow-md">
                                <div class="flex items-center justify-between">
                            <span class="font-light text-gray-600">
                                Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
                            </span>
                                    <a href="#"
                                       class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">
                                        Django
                                    </a>
                                </div>
                                <div class="mt-2">
                                    <p class="mt-2 text-gray-600">{{ comment.body|linebreaks }}</p>
                                </div>
                                {% empty %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}